@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    
}

h1{
   
}
.mainBar{
    background: RebeccaPurple;
    color: white;
    font-family:'Raleway';
    font-size:50px;
    text-align: center;
}
h2 {
    font-family:'Raleway';
    font-size: 20px;   
    text-align: center;
}

p{
    font-family:'Arial';
    font-size:10px;
}

li{
    font-family:'Arial';
    font-size:20px;
}

button.dark{
    font-size: medium;
}

div.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
}

div.grid-container > div {
    text-align: center;
}

div.file-display{
    border: 1px solid black;
}

div.whole-page-margin{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
}
