<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SneakServ</title>
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='drewstyles.css') }}" /> 
 -->    
    <link rel="stylesheet" href="{{ url_for('static', filename='mainstylesheet.css') }}" /> 
</head>
<body>
    <h1 class="mainBar">SNEAK SERV</h1>
    <h2>
        UWBHacks 2019!<br>
        We have absolutely <i><b>NO</b></i> idea what we're doing!
    </h2>
    <div class="whole-page-margin">
        <div class="grid-container">
             <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form><br>
            <!-- <div><button type="button" class="dark" onclick="alert('hi there')">Theme</button></div> -->
            <!-- <div class="file-display">
                <h2>Files Uploaded:</h2>
                <ol>
                    <li>test</li>
                </ol>
            </div> -->
            <!-- <div>Display theme example here</div> -->
            <div><button type="button" class="dark" onclick="alert('Creating Zip File!')">Create Zip File</button> </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}   
        {% block body %}{% endblock %}
        <p>
            Contributors: Jayden Kang, Torren Sampson, Drew Loukusa, Princeton See, Connor Starkel, Mckauley Kolakowski
        </p>
    </div>
    <script>        
    </script>
</body>
</html>